.NavBar {
	background-color: #050A30;
	position: absolute;
	margin-left:auto;
	padding-top: 1rem;
	box-shadow: none;

  div {
	padding-left:1rem; //Should probably do something better than this
	padding-right:1rem;	
	font-family:"PT Serif";
	box-shadow: none;
	}	

	a {
		color:white;
		text-decoration: none;
	}
}