.NavBar {
  background-color: #050a30;
  padding-top: 1rem;
  display: flex;
  padding-right: 1rem;
  justify-content: flex-end;

  div {
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'PT Serif';
  }

  a {
    color: white;
    text-decoration: none;
  }
}
